{
  "parser"  : "babel-eslint",
  "extends" : "eslint-config-airbnb",
  "plugins": [
    "babel", "react", "import"
  ],
  "env"     : {
    "browser" : true,
    "node": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true
  },
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  },
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__COVERAGE__" : false,
    "__BASENAME__" : false
  },
  "rules": {
    "react/prefer-stateless-function": 0, // 暂时关闭组件纯函数验证
    "react/no-multi-comp": 0,
    "import/no-extraneous-dependencies": 0, // 关闭显示 react 不在依赖的问题
    "import/default": 0,
    "import/no-duplicates": 0,
    "import/named": 0,
    "import/namespace": 0,
    "import/no-unresolved": 0,
    "import/no-named-as-default": 0,
    "global-require": 1,
    "comma-dangle": 0,  // not sure why airbnb turned this on. gross!
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-console": 0,
    "no-alert": 0,
    "no-script-url": 0,
    "consistent-return": 0,
    "arrow-body-style": [1, "as-needed"]
  }
}
