@import '../../styles/colors';
@import '../../styles/util';

.x-shop {
  position: relative;
  display: flex;
  flex: 1;
  z-index: 5;
  &-sider {
    position: relative;
    width: 300px;
    background-color: @x-sub-primary-color!important;
    &-scroll {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100%;
      background-color: @x-sub-primary-color!important;
      &-header {
        .item {
          display: flex;
          align-items: center;
          border-bottom: 1px solid #121516;
          color: #DDDDDD;

          cursor: pointer;
          &-left {
            display: flex;
            flex: 1;
            padding: 10px;
            align-items: center;
            .anticon {
              margin-right: 10px;
            }
          }
          &-right {
            display: flex;
            align-items: center;
            padding: 10px 15px;
          }
        }
      }
      &-content {
        padding: 5px;
        .template-item {
          position: relative;
          height: 305px;
          background-color: #ffffff;
          margin-bottom: 10px;
          border-radius: 2px;
          padding: 5px;
          cursor: pointer;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          &-info {
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 5px;
            background-color: #ffffff;
            z-index: 1;
          }
        }
        -webkit-overflow-scrolling: touch;
        overflow-y: auto;
        overflow-x: hidden;
        scroll-behavior: smooth;
        .scroll-bar();
      }
      z-index: 5;
    }
    &-templates {
      position: absolute;
      left: -175px;
      top: 0;
      bottom: 0;
      transform: translateX(0) translateZ(0);
      transition: transform 0.15s cubic-bezier(.9, 0, .3, .7);
      background-color: @x-sub-primary-color!important;
      z-index: 4;
      border-left: 1px solid #121516;
      border-right: 1px solid #121516;
      &-content {
        display: flex;
        flex: 1;
        flex-direction: column;
        height: 100%;
        .template {
          border-radius: 2px;
          background-color: @x-gray-color;
          padding: 10px;
          margin-bottom: 10px;
          cursor: pointer;
          &-header {
            display: flex;
            align-items: center;
            padding: 5px 10px;
            border-bottom: 1px solid #121516;
            &-timer {
              display: flex;
              flex: 1;
              align-items: center;
              color: #fff;
              .ant-statistic-content {
                font-size: 15px;
                margin: 0 5px;
                color: #FF835A;
              }
            }
          }
          &-content {
            position: relative;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            &-mobile {
              position: absolute;
              width: 100%;
              height: 90%;
              background-color: @x-sub-primary-color;
              transform: translateX(0) translateZ(0);
              transition: transform 0.2s ease;
              z-index: 6;
              .container {
                position: relative;
                height: 100%;
                overflow-y: auto;
                overflow-x: hidden;
                .scroll-bar();

              }
              &::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                border-top: 35px solid #f44;
                border-right: 35px solid transparent;
                opacity: .9;
                z-index: 7;
              }
              &::after {
                content: "\65B0\7248";
                display: block;
                position: absolute;
                color: #fff;
                top: -2px;
                left: -8px;
                transform: scale(.5) rotate(-45deg);
                font-size: 20px;
                z-index: 7;
              }
            }

          }
        }
      }
      &.active {
        transform: translateX(375px) translateZ(0);
      }
    }
  }
  &-content {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: @x-primary-color;
    &-mobile {
      position: absolute;
      width: 375px;
      height: 90%;
      background-color: @x-sub-primary-color;
      box-shadow: 0 0 15px rgba(0,0,0,0.07);
      transform: translateX(0) translateZ(0);
      transition: transform 0.2s ease;
      z-index: 6;
      .container {
        position: relative;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        .scroll-bar();
        &.active {
          .drag-component {
            opacity: 0.5;
          }
        }
      }
      // 如果只打开模板列表
      &.active-template {
        transform: translateX(187px) translateZ(0);
      }
      // 同时打开模板列表和设置页面
      &.active-all {
        transform: translateX(37px) translateZ(0);
      }
      // 如果只打开设置页面
      &.active-setting {
        transform: translateX(-150px) translateZ(0);
        .drag {
          background-color: #000000;
          &-component {
            opacity: 0.5;
          }
          &.active {
            .drag-component {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  // 参数配置
  &-setting {
    position: absolute;
    right: -300px;
    top: 0;
    bottom: 0;
    transform: translateX(0) translateZ(0);
    transition: transform 0.15s cubic-bezier(.9, 0, .3, .7);
    background-color: @x-sub-primary-color!important;
    z-index: 5;
    &-scroll {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100%;
      -webkit-overflow-scrolling: touch;
      overflow-y: auto;
      overflow-x: hidden;
      scroll-behavior: smooth;
      &-collapse {
        background-color: @x-sub-primary-color;
        .module-content {
          .content-data {
            &:last-child {
              border-bottom: none;
            }
          }

        }
        .ant-collapse-content-box {
          padding-top: 16px !important;
          padding-bottom: 16px;
        }
      }
      .scroll-bar();
    }
    &.active {
      transform: translateX(-300px);
    }
  }
}
