// 自定义 checker 颜色
$checker-blue: #2489c5 !default;
$checker-grey: #73716e !default;
$checker-default: #d9d9d9 !default;

.t-checker {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  > input {
    // 隐藏 input 框
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    &.disabled,
    &[disabled] {
      ~span {
        cursor: not-allowed !important;
        border: 1px solid $checker-default;
        background-color: $checker-default;
      }
    }
  }
  > span {
    position: absolute;
    top: 1px;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid $checker-default;
    background-color: #fff;
    -webkit-transition: border 50ms cubic-bezier(0.05,0.74,0.27,0.99);
    -moz-transition: border 50ms cubic-bezier(0.05,0.74,0.27,0.99);
    -o-transition: border 50ms cubic-bezier(0.05,0.74,0.27,0.99);
    -ms-transition: border 50ms cubic-bezier(0.05,0.74,0.27,0.99);
    transition: border 50ms cubic-bezier(0.05,0.74,0.27,0.99);
    &:after {
      content: '';
      position: absolute;
      display: none;
    }
  }
  &:hover {
    span {
      border: 1px solid $checker-grey;
    }
  }
  // checker checkbox 选中样式 IE9 上 rotate 不支持
  &.t-checkbox {
    > span:after {
      left: 6px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid #333;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
    > input:checked~span:after {
      display: block;
    }
  }
  // checker radio 选中样式 暂无兼容问题
  &.t-radio {
    > span {
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      &:after {
        left: 5px;
        top: 5px;
        height: 6px;
        width: 6px;
        border-radius: 100%!important;
        background: #333;
      }
    }
    > input:checked~span:after {
      display: block;
    }
  }
}
