.full-map-button {
  width: 2em;
  height: 2em;
  background-color: rgba(0,0,0, .6);
  line-height: 2em !important;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}

.map-fullscreen {
  z-index: 10060 !important;
  margin: 0;
  position: fixed !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}
