.content-data {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #333333;
  &-title {
    display: flex;
    align-items: center;
    color: #989898;
    font-size: 12px;
    .anticon {
      font-size: 14px;
      margin-right: 4px;
    }
  }
  &-imager {
    display: flex;
    flex-direction: column;
  }
  &-thermal {
    display: flex;
    flex-direction: column;
    .imager-content {
      position: relative;
      width: 100%;
      height: 160px;
      background-color: #414141;
      cursor: pointer;
      border-bottom: 1px dashed #DDDDDD;
      &-mask {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.65);
        z-index: 5;
        opacity: 0;
        transition: opacity 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
        .anticon {
          font-size: 16px;
          color: #ddd;
          padding: 8px;
          border-radius: 100%;
          border: 1px solid #ddd;
        }
      }
      &:hover {
        .imager-content-mask {
          opacity: 1;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .ant-btn {
      color: #DDDDDD;
      background-color: #414141;
      border-color: #414141;
    }
  }
  &-swiper {
    &-item {
      &-panel {
        padding-bottom: 10px;
        margin-bottom: 5px;
        border-bottom: 1px dashed #333;
        h4 {
          color: #989898;
          padding: 0 0 5px 0;
        }
        .imager-content {
          position: relative;
          width: 100px;
          height: 100px;
          background-color: #414141;
          cursor: pointer;
          &-mask {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.65);
            z-index: 5;
            opacity: 0;
            transition: opacity 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
            .anticon {
              font-size: 16px;
              color: #ddd;
              padding: 8px;
              border-radius: 100%;
              border: 1px solid #ddd;
            }
          }
          &:hover {
            .imager-content-mask {
              opacity: 1;
            }
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .x-linker {
          padding: 0;
        }
      }
    }
    .swiper-item-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .anticon {
        font-size: 14px;
        padding: 0 10px;
      }
    }
    &-add {
      margin-left: 20px;
      padding: 10px 0;
      .ant-btn {
        color: #DDDDDD;
        background-color: #414141;
        border-color: #414141;
        &:hover {
          background-color: #6e6e6e;
          border-color: #6e6e6e;
        }
      }
    }
  }
  &-notice {
    display: flex;
    flex-direction: column;
    .ant-btn {
      color: #DDDDDD;
      background-color: #414141;
      border-color: #414141;
      &:hover,
      &:focus {
        color: #DDDDDD;
        background-color: #6e6e6e;
        border-color: #6e6e6e;
      }
    }
  }
  &-article {
    display: flex;
    align-items: center;
    .ant-input-number {
      width: 120px;
    }
    .ant-checkbox-group-item {
      margin-right: 6px;
      .ant-checkbox + span {
        padding-left: 4px;
        padding-right: 4px;
      }
    }
    .label {
      margin-right: 12px;
    }
  }
  &-coupon {
    display: flex;
    align-items: center;
    &.column {
      flex-direction: column;
      align-items: flex-start;
    }
    .content {
      padding: 10px;
      .imager-content {
        &.hide {
          display: none;
        }
      }
      .color-content {
        &.hide {
          display: none;
        }
      }
    }
    .ant-slider {
      flex: 1;
    }
  }
  .imager-content {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #414141;
    cursor: pointer;
    &-mask {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.65);
      z-index: 5;
      opacity: 0;
      transition: opacity 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
      .anticon {
        font-size: 16px;
        color: #ddd;
        padding: 8px;
        border-radius: 100%;
        border: 1px solid #ddd;
      }
    }
    &:hover {
      .imager-content-mask {
        opacity: 1;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}


.content-error {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 20px;
  color: #ffffff;
  background-color: #424242;
  border-radius: 4px;
  margin: 10px;
  .anticon {
    color: rgb(255, 131, 90);
    font-size: 18px;
    margin-bottom: 10px;
  }
  &-desc {
    font-size: 12px;
    text-align: center;
  }
}
