.content-error {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 20px;
  color: #ffffff;
  background-color: #424242;
  border-radius: 4px;
  margin: 10px;
  .anticon {
    color: rgb(255, 131, 90);
    font-size: 18px;
    margin-bottom: 10px;
  }
  &-desc {
    font-size: 12px;
    text-align: center;
  }
}
